name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --draft
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Build and publish NPM packages
        uses: evg4b/goreleaser-npm-publisher-action@v1.3.0
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
          tag: latest
          prefix: "@ssuf1998dev"
          files: |-
            LICENSE
            README.md
