name: Test

on:
  # workflow_dispatch:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  test:
    name: Test
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.platform}}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Set up pnpm
        run: npm install -g pnpm@latest-10

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        if: ${{matrix.platform == 'ubuntu-latest'}}

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        if: ${{matrix.platform == 'ubuntu-latest'}}

      - name: Download Go modules
        run: go mod download
        env:
          GOPROXY: https://proxy.golang.org

      - name: Build
        run: go build -v ./cmd/crac

      - name: Prepare for remote registry tests
        run: docker compose up -d
        working-directory: ./testdata
        if: ${{matrix.platform == 'ubuntu-latest'}}

      - name: Prepare for pnpm tests
        run: pnpm install
        working-directory: ./testdata/pnpm

      - name: Test
        run: go test ./...
        env:
          CRAC_TEST_REGISTRY: ${{matrix.platform == 'ubuntu-latest' && '127.0.0.1:5000' || ''}}
